.div-font-size{
    font-size: 1.4rem;
}
.row-align-center{
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: center;
    align-items:center
}