<ion-header>
  <ion-navbar>
    <ion-title>Goal</ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf='user'>
  <ion-item-group>
    <ion-item>
      <div class="div-float-left div-font">Staring Weight</div>
      <div class="div-float-right div-font" (click)="editStartWeight()">{{user.goal.starting.weight}} kg on {{user.goal.starting.date}}</div>
    </ion-item>
    <ion-item>
      <div class="div-float-left div-font">Current Weight</div>
      <div class="div-float-right div-font" (click)="editWeight()">{{user.weight}}</div>
    </ion-item>
    <ion-item>
      <div class="div-float-left div-font">Goal Weight</div>
      <div class="div-float-right div-font" (click)="editGoalWeight()">{{user.goal.goal_weight}}</div>
    </ion-item>
    <ion-item>
      <!-- <ion-label class="div-float-left div-font">Date Of Birth</ion-label> -->
      <div class="div-float-left div-font">Weekly Goal</div>
      <!-- <ion-datetime class="div-float-right div-font" displayFormat="MMM DD, YYYY" [readonly]="disableDateTime" [(ngModel)]="user.dateOfBirth"></ion-datetime> -->
      <div class="div-float-right div-font" (click)="editWeeklyGoal()" *ngIf='user.goal.weekly_goal'>{{user.goal.weekly_goal}}</div>
    </ion-item>
    <ion-item>
      <div class="div-float-left div-font">Activity Level</div>
      <div class="div-float-right div-font" (click)="editActivtyLevel()" *ngIf='user.activity_level'>{{user.activity_level}}</div>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
        <ion-item-divider color="light">Nutrition Goals</ion-item-divider>
        <ion-item (click)="openMacroPage()">
            <h3>Calorie and Macronutrient Goals</h3>
            <p>Customize your default or daily goals</p>
        </ion-item>
  </ion-item-group>
</ion-content>

