<ion-header>
    <ion-navbar>
        <ion-title>{{title}}</ion-title>
        <ion-icon ios="ios-checkmark" md="md-checkmark" class="nav-icon-right"></ion-icon>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item class="div-font-size">
            Food Name
        </ion-item>
        <ion-item class="div-font-size" style="border-top: 0.55px solid #c8c7cc">
            <div style="float:left">Meal</div>
            <div style="float:right">Breakfast</div>
        </ion-item>
        <ion-item class="div-font-size" style="border-top: 0.55px solid #c8c7cc" (click)="updateQuantity()">
            <div style="float:left">Number of Servings</div>
            <div style="float:right">{{food.servings}}</div>
        </ion-item>

        <ion-item class="div-font-size" style="border-top: 0.55px solid #c8c7cc" (click)="updateQuantity()">
            <div style="float:left">Servings size</div>
            <div style="float:right">{{food.servingsize}}</div>
        </ion-item>

        <!--meal percentage breakdown-->
        <ion-item class="div-font-size" style="border-top: 0.55px solid #c8c7cc">
            <ion-row>
                <ion-col>
                    <ion-row class="row-align-center">52%</ion-row>
                    <ion-row class="row-align-center">81.9g</ion-row>
                    <ion-row class="row-align-center">Carbs</ion-row>
                </ion-col>
                <ion-col>
                    <ion-row class="row-align-center">52%</ion-row>
                    <ion-row class="row-align-center">81.9g</ion-row>
                    <ion-row class="row-align-center">Protein</ion-row>
                </ion-col>
                <ion-col>
                    <ion-row class="row-align-center">52%</ion-row>
                    <ion-row class="row-align-center">81.9g</ion-row>
                    <ion-row class="row-align-center">Fat</ion-row>
                </ion-col>
            </ion-row>
        </ion-item>

        <!-- percent of daily value-->
        <ion-item class="div-font-size" style="border-top: 0.55px solid #c8c7cc">
            <ion-row>Percent of Your Daily Goals</ion-row>
            <ion-row>
                <ion-col>
                    <ion-row class="row-align-center">24%</ion-row>
                    <ion-row class="row-align-center">2590</ion-row>
                    <ion-row class="row-align-center">Calorie</ion-row>
                </ion-col>
                <ion-col>
                    <ion-row class="row-align-center">52%</ion-row>
                    <ion-row class="row-align-center">81.9g</ion-row>
                    <ion-row class="row-align-center">Carbs</ion-row>
                </ion-col>
                <ion-col>
                    <ion-row class="row-align-center">52%</ion-row>
                    <ion-row class="row-align-center">81.9g</ion-row>
                    <ion-row class="row-align-center">Protein</ion-row>
                </ion-col>
                <ion-col>
                    <ion-row class="row-align-center">52%</ion-row>
                    <ion-row class="row-align-center">81.9g</ion-row>
                    <ion-row class="row-align-center">Fat</ion-row>
                </ion-col>
            </ion-row>
        </ion-item>

        <!--meal nutrition details-->
        <ion-item *ngIf="!nutritionDetail" (click)="showNutrition('enable')" style="text-align:center;background:lightgrey;font-size:1.3rem;height:3.0rem">
            View Nutrition values
        </ion-item>
        <ion-item-group *ngIf="nutritionDetail">
            <ion-item class="div-font-size" style="border-top: 0.55px solid #c8c7cc">
                <div style="float:left">Calorie</div>
                <div style="float:right">330</div>
            </ion-item>
            <ion-item class="div-font-size" style="border-top: 0.55px solid #c8c7cc">
                <div style="float:left">Protein</div>
                <div style="float:right">32</div>
            </ion-item>
            <ion-item class="div-font-size" style="border-top: 0.55px solid #c8c7cc">
                <div style="float:left">Vitamin A</div>
                <div style="float:right">20 mg</div>
            </ion-item>
            <ion-item class="div-font-size" style="border-top: 0.55px solid #c8c7cc">
                <div style="float:left">Potassium</div>
                <div style="float:right">400 mg</div>
            </ion-item>
        </ion-item-group>
        <ion-item *ngIf="nutritionDetail" (click)="showNutrition('disable')" style="text-align:center;background:lightgrey;font-size:1.3rem;height:3.0rem">
            Close Nutrition Facts
        </ion-item>
    </ion-list>
</ion-content>