.diary-component{

        .toolbar-background-ios  {
            background-color:white;
        }
    .label-ios{
        margin: 0px 0px 0px 0px;
    }
        .toolbar-content-ios{
            .item-ios p{
                color : black !important,
            }
            .card-ios p{
                color:black !important;
            }
        }
        .bar-button-ios{
            font-size:smaller
        }
    
}