<ion-slides pager class="welcome-page" *ngIf='localUser'>
    <ion-slide>
        <ion-toolbar>
            <ion-buttons end>
                <button ion-button color="primary" (click)="nextSlide()">Skip</button>
            </ion-buttons>
        </ion-toolbar>
        <h2>Basic Details</h2>
        <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select [(ngModel)]="localUser.gender">
                <ion-option value="male">Male</ion-option>
                <ion-option value="female">Female</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>birthday</ion-label>
            <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="birthday"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>City</ion-label>
            <ion-select [(ngModel)]="localUser.location.city">
                <ion-option value="Gurgaon">Gurgaon</ion-option>
                <ion-option value="Delhi">Delhi</ion-option>
                <ion-option value="Noida">Delhi</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Country</ion-label>
            <ion-select [(ngModel)]="localUser.location.country">
                <ion-option value="India">India</ion-option>
                <ion-option value="Australia">Australia</ion-option>
                <ion-option value="USA">USA</ion-option>
            </ion-select>
        </ion-item>
        <button ion-button large clear icon-end color="primary" (click)="updateUserDetails()">
            Continue
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </ion-slide>

    <ion-slide>
        <ion-toolbar>
            <ion-buttons end>
                <button ion-button color="primary" (click)='nextSlide()'>Skip</button>
            </ion-buttons>
        </ion-toolbar>
        <h2>Goal Details</h2>
        <ion-item>
            <ion-label>Height(cm)</ion-label>
            <ion-select [(ngModel)]="localUser.height">
                <ion-option *ngFor="let value of height_numbers" [value]="value">{{value}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Weight(kg)</ion-label>
            <ion-select [(ngModel)]="localUser.weight">
                <ion-option *ngFor="let value of weight_numbers" [value]="value">{{value}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Starting Weight(kg)</ion-label>
            <ion-select [(ngModel)]="localUser.goal.starting.weight">
                <ion-option *ngFor="let value of weight_numbers" [value]="value">{{value}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>on</ion-label>
            <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="starting_date"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Goal Weight</ion-label>
            <ion-select [(ngModel)]="localUser.goal.goal_weight">
                <ion-option *ngFor="let value of weight_numbers" [value]="value">{{value}}</ion-option>
            </ion-select>
        </ion-item>
        <button ion-button large clear icon-end color="primary" (click)="updateUserDetails()">
            Submit
        </button>
    </ion-slide>
    <ion-slide>
        <ion-item>
            <ion-label>Activity Level</ion-label>
            <ion-select [(ngModel)]="localUser.activity_level">
                <ion-option *ngFor="let value of activity_levels" [value]="value.level">{{value.level}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Weekly Goal</ion-label>
            <ion-select [(ngModel)]="localUser.goal.weekly_goal">
                <ion-option *ngFor="let value of weekly_goals" [value]="value.goal">{{value.goal}}</ion-option>
            </ion-select>
        </ion-item>
        <button ion-button large (click)="calculateCalorie()">
            Calculate Calorie Requirement
        </button><br />
        <ion-card style="text-align:center;align-items:center;justify-content:center" *ngIf="bmi">
            {{bmi}}
        </ion-card>
        <ion-card style="text-align:center;align-items:center;justify-content:center" *ngIf="calorieGoal">
            <h3>Maintaince Calorie</h3>
            <h2>{{calorieGoal.bmr}}</h2>
            <h3>Calorie Requirement({{user.goal.weekly_goal}})</h3>
            <h2>{{calorieGoal.goal}}</h2>
        </ion-card>
        <button ion-button large (click)="saveUserDetails()">
            Done
        </button>
    </ion-slide>
</ion-slides>